<%- include('partials/header') %>

<style>
  body {
    background-image: url("/images/<%= meetup._id %>");
    color: white;
  }
</style>


<div class="overlay"></div>
<div class="container p-3 pt-md-5">
  <div class="py-3 text-center">
    <h1 class="text-shadow"><%= meetup.name %></h1>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-1">
      <h2 class="text-shadow mb-3">Details</h2>
      <div class="event-detail event-detail-single desc-view mb-3"><%= meetup.desc %></div>
    </div>

    <!-- Guest List -->
    <div class="col-md-4 order-md-2 mb-4">
      <div id="guest-list"></div>
    </div>

  </div>
</div>



<%- include('partials/scripts') %>

<!-- store the meetup Id in a dom element so scripts can access it -->
<data id="guest-email" hidden><%= guestEmail %></data>
<data id="meetup-id" hidden><%= meetup._id %></data>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="/js/guest-list-view.js" type="text/jsx"></script>

<!-- <script src="guest-list-2.js" type="text/javascript" id="guest-list-script" meetup-id=<%= meetup._id %> > </script> -->

<%- include('partials/footer') %>